/* .wp-block[data-align=full] {
    max-width: 900px;
} */

p {
    color: red !important;
}

.editor-styles-wrapper .block-editor-writing-flow {
	padding: 20px 0;
	max-width: 1300px;
	margin: 0 auto;
    background-color: red;
    text: sans-serif;
}

/* h1,
h2,
h3,
h4,
h5,
h6,
p {
	font: inherit;
} */