:root {
  --yellow: #fca12f;
  --charcol: #363636;
  --notion: #fafafa;
  --notion-dark: #f2f2f0;
  --white: white;
}

/** GENERAL  **/
* {
  box-sizing: border-box;
}

body {
  font-family: PPTelegraf, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: large;
  background-color: var(--notion);
  color: var(--charcol);
}

img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 20px 0;
  max-width: 1300px;
  margin: 0 auto;
}

.archive-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

article {
  max-width: 900px;
  margin: 0 auto;
}

section {
  margin-bottom: 5rem !important;
}

.button {
  padding: 12px 20px;
  font-size: medium;
  font-family: PPTelegraf, Arial, sans-serif;
  background-color: var(--yellow);
  border-radius: var(--border-radius-40);
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  border: none;
}

.branded-border {
  padding: 2rem;
  background-color: white;
  border: 2px solid var(--notion-dark);
  border-radius: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.hero_title {
  font-size: var(--font-size-xxl);
  font-weight: 400;
  line-height: 1.2;
}

.big-title {
  font-size: var(--font-size-xl);
  font-weight: 400;
  line-height: 1.2;
  display: flex;
  align-items: center;
  gap: 20px;
}

/* .big-title::before {
  content: url(/assets/sun.svg);
  margin-right: 10px;
  display: inline-block;
  height: var(--font-size-sm);
} */
.sub-title--yellow {
  color: var(--yellow);
  font-size: var(--font-size-lg);
}

.sub-title {
  font-size: var(--font-size-lg);
  font-weight: 500;
}

a {
  color: inherit;
}

.link {
  color: var(--yellow);
  text-decoration: underline;
}

p {
  line-height: 1.7;
}

.yellow {
  color: var(--yellow);
}

/** ANIMATIONS  **/
.fade-up {
  animation: fadeUp 0.8s ease-in-out;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(250px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.loading {
  width: 50px;
  height: 50px;
  border: 4px solid var(--yellow);
  animation: 2s loading ease;
}

@keyframes loading {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  33% {
    transform: rotateX(180deg) rotateY(0) rotateZ(0);
  }
  67% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
  }
}
.porfolio-slider {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border: 1px blue solid;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  position: relative;
  height: 300px;
  border: 1px red solid;
}

.arrow-btn {
  background-color: var(--yellow);
  border-radius: 100px;
  padding: 0 0 0 3px;
}

.title-btn {
  display: flex;
  align-items: center;
  border-radius: 100px;
  gap: var(--spacing-sm-16);
  padding: 5px 20px;
  background-color: var(--notion-dark);
  border: 2px solid var(--notion-dark);
  border: 1px blue solid;
}

.card-img {
  border-radius: var(--border-radius-15);
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.darkmode {
  --yellow: #fa8900;
  --charcol: white;
  --notion: black;
  --notion-dark: #363636;
  --white: #363636;
}

/* .darkmode {
  --wp--preset--color--yellow: #fa8900;
  --wp--preset--color--charcoal: #ffffff;
  --wp--preset--color--notion: #000000;
  --wp--preset--color--notion-dark: #363636;
  --wp--preset--color--white: #363636;
} */

.circle {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.sun {
  background-color: #fa8900;
}

.moon {
  background-color: black;
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#theme-switch div:last-child {
  display: none;
}

.darkmode #theme-switch div:first-child {
  display: none;
}

.darkmode #theme-switch div:last-child {
  display: block;
}

/* FOOTER  */
/* .footer {
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: var(--border-radius-15);
  padding: 5px 10px;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 2px solid var(--notion-dark);
}

.footer__logo {
  width: 33%;
}

.footer__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.footer__icons {
  display: flex;
  gap: 1rem;
}

.footer__icon {
  background-color: var(--yellow);
  padding: 2rem;
  height: 20px;
  border-radius: var(--border-radius-15);
}

.footer__nav {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav__container {
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 50px;
  padding: 10px 10px;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid var(--notion-dark);
  font-weight: 900;
}
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 18px;
}
@media (max-width: 900px) {
  .nav__container {
    flex-direction: column;
    justify-content: space-between;
  }
  .nav__list {
    flex-direction: column;
    padding: 0;
  }
} */

/* styles get only applied so long as the screen is at least 900px */
