/**
 * SINGLE TEAM MEMBER
 */

.wp-block-ines-team-member-img {
	position: relative;

	&.is-loading img {
		opacity: 0.3;
	}

	.components-spinner {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}

.wp-block-ines-team-member {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border: 1px dotted #f00;
	background-color: pink;
}

.block-editor-media-placeholder {
	margin-bottom: 200px;
}
